aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.5.2
async-timeout==5.0.1
asyncpg==0.30.0
click==8.1.8
colorama==0.4.6
dotenv==0.9.9
exceptiongroup==1.3.0
fastapi==0.115.13
h11==0.16.0
idna==3.10
iso8601==2.1.0
peewee==3.18.2
peewee-jsonfield==0.0.4
py-automapper==2.2.0
pydantic==2.10.6
pydantic_core==2.27.2
PyMySQL==1.1.1
pypika-tortoise==0.3.2
python-dotenv==1.0.1
pytz==2025.2
sniffio==1.3.1
starlette==0.44.0
tortoise-orm==0.23.0
typing_extensions==4.13.2
uvicorn==0.33.0
